NODE_ENV=development

DATABASE_URI=postgres://user:password@127.0.0.1:55432/realize_ecommerce
DATABASE_URL=postgres://user:password@127.0.0.1:55432/realize_ecommerce
PAYLOAD_SECRET=replace-with-strong-secret
PREVIEW_SECRET=replace-with-preview-secret

NEXT_PUBLIC_SITE_URL=http://localhost:3000
PAYLOAD_PUBLIC_SITE_URL=http://localhost:3000
PAYLOAD_PUBLIC_LIVE_PREVIEW_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000

SITE_NAME="Realize E-Commerce"
COMPANY_NAME="Realize"
TWITTER_CREATOR=
TWITTER_SITE=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOKS_SIGNING_SECRET=

POSTGRES_SSL=false
